*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: linear-gradient(to bottom, #0924249f 0%, #000d0ff8 100%), url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    width: 100%;
    height: 100vh;
}
 
    main{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

.logo{
    width: 100px;
}

.main-container{
    display: flex;
    padding: 1rem 0 0.7rem;
    width: 500px;
    height: 620px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background: linear-gradient(180deg, #27353fd3 0%, #12181fd3 100%);
    border-radius: 0.5rem;
    border: 1px solid #aabbbb59;
    box-shadow: 0px 0px 10px #000000cb;
    backdrop-filter: blur(5px);

}

.input-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

label{
    color: #fefefe;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0px 0px 2px #000000;
    margin-bottom: 0.19rem;
    width: 93%;
}


select, input{
    width: 98%;
    height: 50px;
    margin-bottom: 0.5rem;
    padding: 0.41rem 0.6rem 0.4rem 10px;
    background: #132231 ;
    color: #dedede;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 1px solid #aabbbb;
    cursor: pointer;
    box-shadow: 0px 0px 3px #00000083;
}

input{
    background: #132231 url(./assets/dinheiro.png);
    background-position: 6.5px;
    background-size: 17px;
    background-repeat: no-repeat;
    padding: 0.41rem 0.6rem 0.4rem 30px;
}

input::placeholder{
    color: white;
    font-size: 17px;
}

.label-input{
    font-size: 18px;
    margin-bottom: 10px;
}

button{
    margin-top: 1rem;
    padding: 0.6rem;
    background: #dddddd;
    color: #132231;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 0px 0px 3px #00000083;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 10px;
    width: 88%;
    height: 60px;
}



button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

.section-currency{
    width: 100%;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.currency-box {
    padding: 15px 0 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    
}


#arrow-img{
    margin: 15px 0;
    width: 2.5rem;
    opacity: 0.7;
}

.currency{
    color: white;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.currency-from{
    color: white;
}

.flag-img{
    width: 4.5rem;
    margin-bottom: 3px;
    border-radius: 50%;
    box-shadow: 1px 4px 5px #00000083;
}